$brand-color: rgb(100,100,100);
$brand-color-hover: rgba($brand-color, .5);


//black
$c-black: #000;
$c-black2: #282828;

//green
$c-green:#427b51;
$c-green2:#65bc7b;
$c-green3: #b7f598;
$c-green4: #6bc63e;

//white
$c-white: #fff;
$c-white2: rgb(237, 237, 237);
$c-white3: #f4f5f7;

//yellow
$c-yellow: #efca15;
$c-yellow2: #ffe979;
$c-yellow3:#d7b921;

//blue
$c-blue: #0c94bd;
$c-blue2: #7ed5f0;
$c-blue3: #2fa5ca;