/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  font-family: sans-serif;
}

.g-container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.g-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-4 {
  -webkit-box-flex: 40%;
      -ms-flex-positive: 40%;
          flex-grow: 40%;
}

.col-6 {
  -webkit-box-flex: 60%;
      -ms-flex-positive: 60%;
          flex-grow: 60%;
}

@media only screen and (min-width: 1200px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 40%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 60%;
  }
}

.h-pl-10 {
  padding-left: 10px;
}

.h-pr-10 {
  padding-right: 10px;
}

.m-header {
  padding: 36px 0;
  margin-bottom: 15px;
}

.m-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-header__logo {
  width: 165px;
}

.m-intro__title-wrapper {
  margin-bottom: 30px;
}

.m-intro__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}

.m-intro__title--animation {
  position: relative;
  display: inline-block;
}

.m-intro__title--animation:before {
  display: block;
  overflow: visible;
  line-height: 1.5;
  padding-right: 5px;
  padding-left: 5px;
  content: "WordPress";
  color: transparent;
  -webkit-animation: multi-title 20s linear 2s infinite;
          animation: multi-title 20s linear 2s infinite;
}

.m-intro__title--animation:after {
  display: block;
  line-height: 1.5;
  position: absolute;
  width: 105%;
  padding-right: 5px;
  padding-left: 5px;
  top: 0;
  left: 0;
  content: "WordPress";
  border-right: 2px solid black;
  overflow: hidden;
  -webkit-animation: multi-title 20s linear 2s infinite;
          animation: multi-title 20s linear 2s infinite;
}

.m-intro__desc {
  font-size: 19px;
  line-height: 1.7em;
  margin-bottom: 40px;
  max-width: 60%;
}

.m-intro__cta {
  padding: 10px 30px;
  margin-bottom: 50px;
}

.m-intro__divider {
  margin-bottom: 50px;
}

.m-intro__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-intro__result {
  margin-right: 20px;
}

.m-intro__result-num {
  line-height: 1.15;
  font-size: 35px;
  font-weight: 700;
}

.m-intro__result-desc {
  font-size: 16px;
  line-height: 1.8;
}

@-webkit-keyframes multi-title {
  0% {
    width: 100%;
  }
  12% {
    content: "WordPress";
    width: 0px;
  }
  13% {
    content: "OnlineStore";
  }
  25% {
    content: "OnlineStore";
    width: 100%;
  }
  37% {
    content: "OnlineStore";
    width: 0px;
  }
  38% {
    content: "Creative";
  }
  50% {
    content: "Creative";
    width: 100%;
  }
  62% {
    content: "Creative";
    width: 0px;
  }
  63% {
    content: "Portfolio";
  }
  75% {
    content: "Portfolio";
    width: 100%;
  }
  87% {
    content: "Portfolio";
    width: 0%;
  }
  88% {
    content: "WordPress";
  }
  100% {
    content: "WordPress";
    width: 100%;
  }
}

@keyframes multi-title {
  0% {
    width: 100%;
  }
  12% {
    content: "WordPress";
    width: 0px;
  }
  13% {
    content: "OnlineStore";
  }
  25% {
    content: "OnlineStore";
    width: 100%;
  }
  37% {
    content: "OnlineStore";
    width: 0px;
  }
  38% {
    content: "Creative";
  }
  50% {
    content: "Creative";
    width: 100%;
  }
  62% {
    content: "Creative";
    width: 0px;
  }
  63% {
    content: "Portfolio";
  }
  75% {
    content: "Portfolio";
    width: 100%;
  }
  87% {
    content: "Portfolio";
    width: 0%;
  }
  88% {
    content: "WordPress";
  }
  100% {
    content: "WordPress";
    width: 100%;
  }
}

.m-articles {
  padding: 30px 0;
}

.m-articles__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-articles__card {
  width: calc((100% - 40px) / 3);
  height: 600px;
  border-radius: 5px;
  padding: 65px 55px 55px;
}

.m-articles__card--yellow {
  background-color: #ffe979;
}

.m-articles__card--green {
  background-color: #b7f598;
}

.m-articles__card--blue {
  background-color: #7ed5f0;
}

.m-articles__link {
  display: block;
  height: 100%;
}

.m-articles__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.m-articles__img {
  max-width: 200px;
  display: block;
  width: 100%;
}

.m-articles__title-wrap {
  text-align: center;
}

.m-articles__title {
  font-size: 15px;
  line-height: 1em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.m-articles__text {
  font-size: 32px;
  line-height: 1.16;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
}

.m-articles__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-articles__item {
  margin-bottom: 7px;
  text-align: center;
  border-radius: 3px;
  line-height: 35px;
  padding: 0 10px;
  color: white;
  font-weight: bold;
  margin-right: 7px;
}

.m-articles__item--yellow {
  background: #d7b921;
}

.m-articles__item--green {
  background: #6bc63e;
}

.m-articles__item--blue {
  background: #2fa5ca;
}

.btn-title {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.a-btn-primary {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  display: block;
  width: 210px;
  background-color: #282828;
  margin-bottom: 20px;
  position: relative;
  left: 20px;
  color: white;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.a-btn-primary:hover {
  background-color: black;
}

.a-btn-primary--green {
  background-color: #65bc7b;
}

.a-btn-primary--inversed {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.a-btn-primary--inversed:hover {
  background-color: #ededed;
}

.fa-solid, .fa-arrow-right {
  padding: 0 5px;
}

.m-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-nav__item:not(:last-child) {
  margin-right: 15px;
}

.m-nav__link {
  display: block;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  padding: 8px 18px;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: -0.225px;
  border-radius: 3px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.m-nav__link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
