$brand-color: rgb(100,100,100);
$brand-color-hover: rgba($brand-color, .5);
$primaryButton: #282828;
$greenButton: #65bc7b; 
$hoverButton: black;
$inversedButton: white;
$buttonText: white;
$buttonText2: black;
$inversedHover: rgb(237, 237, 237);

$text-main: #282828;