.btn-title {
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.a-btn-primary {
    @include decoration;
}

.fa-solid, .fa-arrow-right {
padding: 0 5px;
}

.random-div {
    @include decoration;
}

.random-btn {
    @include decoration;
}