//variables
$active-hover-slider: $c-white3;

.m-slider {
    &__wrapper {
        display: flex;
    }
}

.m-slider-nav {
    display: flex;
    flex-direction: column;
    min-width: 315px;
    justify-content: left;
    margin-right: 40px;
  &__item {
    font-family: $arial-font;
    border: none;
    text-align: left;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 19px;
    background-color: $c-white;
    border-radius: 5px;
    &:hover {
        background-color: $active-hover-slider;
    }
  }
}

.active {
background-color: $active-hover-slider;
}

.m-slider-images {
    width: calc(100% - 315px);
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    &__wrap {
        display: none;
        width: 100%;
    }
    &__img {
        width: 100%;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

