<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/1234a521a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    <h1 class="btn-title">BUTTONS</h1>
    <a href="" class="a-btn-primary">Primary</a>
    <a href="" class="a-btn-primary"><i class="fa-solid fa-arrow-left"></i>Primary</a>
    <a href="" class="a-btn-primary a-btn-primary--green">Green</a>
    <a href="" class="a-btn-primary a-btn-primary--green">Green<i class="fa-solid fa-arrow-right"></i></a>
    <a href="" class="a-btn-primary a-btn-primary--inversed">Inversed</a>
    <a href="" class="a-btn-primary a-btn-primary--inversed"><i class="fa-solid fa-diamond"></i>Inversed</a>
    <div class="random-div random-div--green">div</div>
    <button class="random-btn">button</button>
</body>
</html>